.home-container {
  padding: 1.2em;
}

.home-container h1 {
  margin-bottom: 1em;
  color: indigo;
  font-size: 1.35rem;
}

.home-container p {
  color: #7a0657;
  line-height: 25px;
  background-color: #F6FFA6;
  padding: 1em;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 400;
}