.home-container {
  padding: 1.2em;
}

.home-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  align-items: center;
  flex-wrap: nowrap;

}

.home-container h1 {
  color: indigo;
  font-size: 1.35rem;

}

.home-container p {
  color: #7a0657;
  line-height: 25px;
  background-color: #F6FFA6;
  padding: 1em;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 400;
}

.logout-btn {
  padding: 1em;
  background-color: #240370;
  color: #F6FFA6;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out,
    color 0.15s ease-in-out;
  word-wrap: none;

}


.logout-btn:hover {
  background-color: #F6FFA6;
  color: #240370;

}

@media (max-width: 510px) {
  .home-container h1 {
    font-size: 1rem;
  }
}

@media (max-width: 380px) {
  .logout-btn {
    font-size: x-small;
  }
}

@media (max-width: 335px) {
  .logout-btn {
    font-size: xx-small;
  }
}