.nav-container {
  background-color: #E893CF;
  color: #fff;

  /* position: fixed;
  width: 100%; */
  top: 0px;
  position: relative;
  padding: .5em 1em;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.nav-wrapper a {
  color: #fff;
}